<h1>
    Profile Page is here!
</h1>



<% if(user.id == profile_user.id) {%>
    <p>Name: <%=profile_user.name%></p>
    <p>Email: <%=profile_user.email%></p>
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name="name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" value="<%= profile_user.email %>" required> 
        <input type="submit" value="update">
    </form>
    <div><a href="/users/sign-out">Sign-Out</a></div>
<%} else {%>
    <p>Name: <%=profile_user.name%></p>
    <p>Email: <%=profile_user.email%></p>
<%}%>